*{
    margin:0px;
   background-color: rgb(247, 232, 232);
}

.box {
    display:inline-block;
   
}

.rating{
    border: solid rgb(0, 128, 0);
    border-radius: 8px;
    background-color: green;
    color:white;
    position:absolute;
    right:5px;
}

.restaurantname{
    position:relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card:hover{
    border-color: white;
    background-color: white;
}

.card{
   
    display:inline-block;
    border:20px solid rgb(247, 232, 232) ;
    border-radius: 10px;

}

.price{
    position:absolute;
    right:5px;
}

.location ,.open{
    position:relative;
    margin-bottom: 8px;
}

.distance{
    position:absolute;
    right:5px;
    font-weight: bold;
    font-size: 15px;
}

.opening{
    color:rgb(164, 35, 35);
}

.place,.price{
    color:rgb(128, 125, 125);
}

.image{
    border-radius: 15px;
}
.name{
    font-weight: bold;
}