*{
    margin:0px;
   
}

.box {
    display:inline-block;
   
}

.rating{
    border: solid rgb(0, 128, 0);
    border-radius: 8px;
    background-color: green;
    color:white;
    position:absolute;
    right:5px;
}
.img{
    position:relative;
}
.off{
   
    font-size: 30px;
    background-color: rgba(246, 34, 34, 0.6);
    color:white;
     position:absolute;
    bottom:15px;
    left:5px;
}

body{
    background-color: rgb(242, 221, 221);
}
.restaurantname{
    position:relative;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card:hover{
     background-color: white;
    border-color: white;
   

}

.card{
   
    display:inline-block;
    border:20px solid rgb(242, 221, 221);
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.price{
    position:absolute;
    right:5px;
}

.location ,.open{
    position:relative;
    margin-bottom: 8px;
}

.distance{
    position:absolute;
    right:5px;
    font-weight: bold;
    font-size: 15px;
}

.opening{
    color:rgb(164, 35, 35);
}

.place,.price , .food{
    color:rgb(128, 125, 125);
}

.image{
    border-radius: 15px;
}
.name{
    font-weight: bold;
}