*{
    background-color: rgb(247, 247, 183);
}
/* universal selector * */
h1{
    color:blueviolet;
}

/* element selecotr */
.first{
    font-size:30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* class Selector */

#one{
    font-size:50px;
    background-color: rgb(248, 180, 243);
}

/* id Selector */
ol[draggable="true"],li{
    background-color:yellowgreen;
}

/* attribute and grouping selector */

p[contenteditable="true"]{
    color:brown;
}

/* attribute selector */
#one.first{
    text-transform: uppercase;
}

/* Id Selector with class selector */
div > p{
    background-color:aqua;
}
/* child selector */
div p{
    background-color: aquamarine;
}