.container{
    background-color:rgb(242, 242, 90);
    margin-left:200px;
    margin-top:150px;
    position:relative;
    height:1000px;
   
}

.box{
    height:100px;
    width: 100px;
    display:inline-block;
    
}

.box1{
    background-color:yellow;
}

.box2{
    background-color:red;
    /* position: relative; */
    /* top bottom left right */
    /* top:30px;
    left:20px;
    z-index:-1;
     */
     /* position:absolute;
     bottom:10px;
     left:30px; */
    /* position :fixed;
    top:20px;
    left:150px; */

    position: sticky;
    top:10px;
/* sticky me top left mention na karu to to 
work nahi karta aur mention karne par koi effect nahi show ho rha kyu */
}

.box3{
    background-color:green;
}

.box4{
    background-color:tomato;
}

.newcontainer{
    height:800px;
    width:100%;
    background-color:brown;
}