*{
    margin:0;
    background-color:blue;
}
.first,.third{
    display:inline-block;
    height:40vh;
    width: 25vw;
    background-color:white;
}

.second,.fourth{
    display:inline-block;
    height:40vh;
    width:60vw;
    background-color:white;
}
.second,.fourth{
    margin-left:13vw;
}
.third,.fourth{
    margin-top:20vh;
}