
*{
    margin:0;
}
.first{
    height:100vh;
    width:35vw;
    background-color:green;
    display:inline-block;
}
.second{
    height:100vh;
    width:35vw;
    background-color:orangered ;
    display:inline-block;
    margin-left: 28vw;

}